<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Notification permission for Android 13 and above -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="CampusAssist"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CampusAssist">

        <!-- Main / Welcome Screen -->
        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!-- Login Screen -->
        <activity
            android:name=".LoginActivity"
            android:exported="false" />

        <!-- Dashboard -->
        <activity
            android:name=".DashboardActivity"
            android:exported="false" />

        <!-- Report Problem -->
        <activity
            android:name=".ReportProblemActivity"
            android:exported="false" />

        <!-- My Complaints -->
        <activity
            android:name=".MyComplaintsActivity"
            android:exported="false" />

        <!-- College Notices -->
        <activity
            android:name=".NoticesActivity"
            android:exported="false" />

        <!-- Broadcast Receiver -->
        <receiver
            android:name=".ReminderReceiver"
            android:exported="false" />

    </application>

</manifest>